
* {
    margin: 0;
    padding: 0;
}

.links {
    margin-left: auto;
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

h1, h2 {
    font-size: 50px;
}

header {
    display: flex;
    margin: 60px 100px 90px 100px;
    position: relative;
}

.main-photo {
    max-height: 700px;
    width: auto;
}
.main-photo-caption {
    position: absolute;
    bottom: 0;
    left: 30px;
    color: white;
    padding: 6px 10px;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}


.about-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 60px 60px 60px 0px;
    padding: 50px;
}
.about-section .links {
    gap: 20px;
}
.about-section .links svg {
    height: 25px;
    width: auto;
}
.about-section p {
    font-size: 25px;
    padding-right: 30px;
}


section {
    margin: 50px 120px 170px 120px;
}
section h2 {
    margin: 15px 0;
}
.links.card {
    gap: 10px;
}
.links.card svg {
    height: 20px;
    width: auto;
}
.my-projects {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.project-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.card-name-container {
    display: flex;
}
.project-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card-text {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-text p {
    font-size: 18px;
}


footer {
    display: flex;
    background-color: rgb(225, 89, 162);
    color: white;
    padding: 70px 130px;
}
.links.footer {
    gap: 20px;
    margin-left: 0;
    margin-top: 0;
}
.links.footer svg {
    height: 35px;
    width: auto;
    fill: white;
}
.phone, .email {
    display: flex;
    gap: 10px;
    align-items: center;
}
.phone svg, .email svg {
    height: 30px;
    width: auto;
}
.footer-info p {
    font-size: 20px;
}
.footer-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: auto;
}
.footer-img {
    height: 100%;
    width: auto;
}

@media (max-width: 1024px) {
    header {
        flex-direction: column;
        position: relative;
    } 
    .main-photo {
        position: absolute;
        top: -50px;
        left: 30px;
        max-height: 400px;
        width: auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        z-index: 2;
    }
    .main-photo-caption {
        color: rgb(0, 0, 0);
        top: 100px;
        left: 350px;
        bottom: auto;
        font-size: 50px;
        z-index: 3;
    }
    .about-section {
        margin: 90px 10px 10px 10px;
        z-index: 1;
    }
    .about-section p {
        text-align: justify;
    }
    .about-section .links {
        display: none;;
    }
    .about-section::before {
        content: "";
        width: 40%;
        height: 190px;
    }

    .footer-img {
        height: auto;
        width: 350px;
        object-fit: cover;
    }
    
}

@media (max-width: 750px) {
    header {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 80px 0px 0px 0px;
    }
    .main-photo {
        position: relative;
        top: auto;
        left: auto;
        max-height: none;
        margin: 10px 70px;
        
        max-width: 600px;
        height: 500px;
        object-fit: cover;
    }
    .main-photo-caption {
        position: absolute;
        top: -70px;
        left: 50%;
        transform: translateX(-50%)
    }
    .about-section {
        margin: 50px 0px 60px 0px;
        padding: 50px;
        box-shadow: none;
    }
    .about-section .links {
        display: flex;
        margin-right: auto;
    }

    .about-section p {
        text-align: left;
        font-size: 40px;
    }

    .about-section .links svg {
        height: 50px;
        width: auto;
    }
    .about-section::before {
        display: none;
    }

    footer {
        padding: 0;
        flex-direction: column;
        align-self: center;

    }
    .footer-info {
        padding: 40px 70px;
    }
    .footer-info p {
        font-size: 30px;
    }
    .footer-img {
        margin-top: 50px;
        width: 100%;
        height: auto;
    } 

    .my-projects {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}